{
  "context": {
    "fileName": "AGENTS.md"
  },
  "mcpServers": {
    "context7": {
      "command": "npx",
      "args": [
        "-y",
        "@upstash/context7-mcp@latest"
      ]
    },
    "jetbrains": {
      "url": "http://localhost:64342/sse"
    },
    "terraform": {
      "command": "docker",
      "args": [
        "run",
        "-i",
        "--rm",
        "hashicorp/terraform-mcp-server"
      ]
    }
  },
  "general": {
    "preferredEditor": "vim",
    "previewFeatures": true
  },
  "security": {
    "auth": {
      "selectedType": "oauth-personal"
    }
  },
  "ui": {
    "theme": "ANSI",
    "footer": {
      "hideModelInfo": false
    },
    "showModelInfoInChat": true
  },
  "hasSeenIdeIntegrationNudge": true
}
