{
  "theme": "ANSI",
  "selectedAuthType": "oauth-personal",
  "preferredEditor": "vim",
  "mcpServers": {
    "context7": {
      "httpUrl": "https://mcp.context7.com/mcp"
    },
    "serena": {
      "command": "/opt/homebrew/bin/uvx",
      "args": ["--from", "git+https://github.com/oraios/serena", "serena", "start-mcp-server", "--enable-web-dashboard", "false"]
    },
    "github": {
      "command": "npx",
      "args": ["@modelcontextprotocol/server-github"],
      "env": {
        "GITHUB_PERSONAL_ACCESS_TOKEN": "{{ gh_mcp_token }}"
      }
    }
  }
}
