{
  "context": {
    "fileName": "AGENTS.md"
  },
  "mcpServers": {
    "context7": {
      "command": "npx",
      "args": [
        "-y",
        "@upstash/context7-mcp@latest"
      ]
    }
  },
  "general": {
    "preferredEditor": "vim",
    "previewFeatures": true
  },
  "security": {
    "auth": {
      "selectedType": "oauth-personal"
    }
  },
  "ui": {
    "theme": "ANSI"
  }
}
