- name: Configure Gemini CLI
  tags:
    - gemini
  block:
    - name: Gemini CLI install
      community.general.npm:
        name: '@google/gemini-cli'
        state: latest
        global: true

    - name: Ensure Gemini CLI config directory exists
      ansible.builtin.file:
        path: "{{ ansible_facts.env.HOME }}/.gemini"
        state: directory
        mode: '0755'
      check_mode: false

    - name: Configure Gemini CLI
      ansible.builtin.template:
        src: templates/setting_json.j2
        dest: "{{ ansible_facts.env.HOME }}/.gemini/settings.json"
        mode: '0644'

    - name: Deploy Global AGENTS.md
      ansible.builtin.copy:
        src: files/AGENTS.md
        dest: "{{ ansible_facts.env.HOME }}/.gemini/AGENTS.md"
        mode: '0644'
